{% extends 'header.html' %}



{% block content %}
<div class="d-flex mx-auto p-4 ml-4">
    <a href="#addProductApp" class="btn border btn-sm btn-dark">Add Product</a>
    <a href="#productsCategory" class="btn border btn-sm btn-dark">Add Product Category</a>
</div>
<hr>

<!-- category App -->
<h4 class="p-3"><p class="alert alert-success">Add Product Category</p></h4>
<div class="row" ng-app='productsCategory' id='productsCategory' ng-controller='productsController'>
    
    <div class="mx-auto p-3 col-lg-6">
        <div class="col-lg-10 mx-auto border p-3">
            
            <form action="javascript:void();" id='add_core_category_from' method="POST" enctype="multipart/form-data"
                ng-submit='saveCoreCategory($event)'>
                <div class="form-group">
                    <label for="title">Category Title</label>
                    <input id="title" class="form-control form-control-sm" type="text" name="title" ng-model='title'
                        required>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control form-control-sm" ng-model='description'
                        required></textarea>
                </div>

                <div class="form-group">
                    <label for="img">Image</label>
                    <input id="file" class="form-control form-control-sm" type="file" name="file" ng-model='file'
                        required>
                </div>

                <div class="form-group">
                    <label for=""></label>
                    <input type="submit" class="form-control btn btn-sm btn-info">
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-6 mx-auto m-2 p-4">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat='cat in productCategories'>
                    <td title="[[cat._id]]">[[cat._id.substring(0 , 5)]]...</td>
                    <td>[[cat.title]]</td>
                    <td title="[[cat.description]]">[[cat.description.substring(0 , 15)]]...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="bg-info">

<!-- product application -->
<h4 class="p-3"><p class="alert alert-success">Add Products</p></h4>
<div ng-app='addProductApp' class="row" ng-controller='addProductController' id='addProductApp'>
    <div class="col-lg-6 mx-auto m-4 rounded p-3">
        <form action="javascript:void(0);" id='saveProduct' class="p-3 col-lg-8 mx-auto border rounded p-4"
            method="POST" enctype="multipart/form-data" ng-submit='saveProduct($event)'>
            <div class="form-group">
                <label for="">Select Product Category</label>
                <select name="productCategory" class="form-control form-control-sm" ng-model='category'>
                    <option value="-1">Select</option>
                    <option ng-repeat='cat in productCategory' value="[[cat._id]]">[[cat.title]]</option>
                </select>
            </div>

            <div class="form-group">
                <label for="producttitle">title</label>
                <input id="producttitle" class="form-control form-control-sm" required type="text" name="title"
                    ng-model='title'>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control form-control-sm" ng-model='description'
                    required></textarea>
            </div>

            <div class="form-group">
                <label for="img">Image</label>
                <input id="file" class="form-control form-control-sm" multiple type="file" name="photos"
                    ng-model='images' required>
            </div>

            <div class="form-group">
                <label for=""></label>
                <input type="submit" class="form-control btn btn-sm btn-info">
            </div>

        </form>
    </div>

    <div class="col-lg-5 mx-auto m-2 p-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat='product in products'>[[product]]</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<hr>

<hr class="bg-info">

<!-- product-type application -->
<h5 class="alert alert-info m-3">Add Product Types</h5>
<div ng-app='addProductTypeApp' class="row" ng-controller='addProductTypeController as ap' id='addProductTypeApp'>
    <div class="col-lg-6 mx-auto m-4 rounded p-3">
        <form action="javascript:void(0);" id='saveProductType' class="p-3 col-lg-8 mx-auto border rounded p-4"
            method="POST" enctype="multipart/form-data" ng-submit='saveProductType($event)'>
            
            <div class="form-group">
                <label for="">Select Product Category</label>
                <select name="productCategory" class="form-control form-control-sm" ng-model='category' ng-change='loadProducts()'>
                    <option value="-1">Select</option>
                    <option ng-repeat='cat in productCategory' value="[[cat._id]]">[[cat.title]]</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Select Product</label>
                <select name="product" class="form-control form-control-sm" ng-model='product'>
                    <option value="-1">Select</option>
                    <option ng-repeat='p in products' value="[[p._id]]">[[p.title]]</option>
                </select>
            </div>


            <div class="form-group">
                <label for="productType">Product Types</label>
                <input id="productType" class="form-control form-control-sm" required type="text" name="productType"
                    ng-model='productType'>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control form-control-sm" ng-model='description'
                    required></textarea>
            </div>

            <div class="form-group">
                <label for="img">Image</label>
                <input id="file" class="form-control form-control-sm" multiple type="file" name="photos"
                    ng-model='images' required>
            </div>

            <div class="form-group">
                <label for=""></label>
                <input type="submit" class="form-control btn btn-sm btn-info">
            </div>

        </form>
    </div>

    <div class="col-lg-6 mx-auto p-3">
        <table class="table ">
            <tr>
                <th>Product Sub Category</th>
                <th>Core Category</th>
                <th>Product</th>
            </tr>

            <tr ng-repeat='cat in subCategories'> 
                <td>[[cat.type]]</td>
                <td>[[cat.productCategory.title]]</td>
                <td>[[cat.product.title]]</td>
            </tr>
        </table>
    </div>
</div>

<hr>

<!-- ========================================================== -->

<div ng-app='addBrandApp' ng-controller='addBrandController' id='addBrandApp'>
    <div class="col-lg-6 mx-auto m-4 rounded p-3">
        <form action="javascript:void(0);" id='savebrand' class="p-3 col-lg-8 mx-auto border rounded p-4" method="POST"
            enctype="multipart/form-data" ng-submit='saveBrand($event)'>
            <h5 class="alert alert-info">Add Brands</h5>
            <div class="form-group">
                <label for="">Select Product Category</label>
                <select name="productCategory" class="form-control form-control-sm" ng-model='category'
                    ng-change='loadProduct()'>
                    <option value="-1">Select</option>
                    <option ng-repeat='cat in productCategory' value="[[cat._id]]">[[cat.title]]</option>
                </select>
            </div>


            <div class="form-group">
                <label for="">Select Product</label>
                <select name="product" class="form-control form-control-sm" ng-model='product'>
                    <option value="-1">Select</option>
                    <option ng-repeat='p in products' value="[[p._id]]">[[p.title]]</option>
                </select>
            </div>

            <div class="form-group">
                <label for="brand">title</label>
                <input id="brand" class="form-control form-control-sm" required type="text" name="title"
                    ng-model='title'>
            </div>
            <div class="form-group">
                <label for=""></label>
                <input type="submit" class="form-control btn btn-sm btn-info" value="Save">
            </div>

        </form>
    </div>
</div>

<hr>

<!-- -------------------- SIze ===================== -->
<div class="" ng-app='sizeApp' ng-controller='sizeController' id='sizeApp'>
    <div class="col-lg-6 mx-auto">
        <form action="javascript:void(0);" id='saveSize' ng-submit='saveSize($event);' class='col-lg-8 mx-auto border p-4 rounded' method="post">
            <div class="alert alert-success">Add Sizes of products</div>
            <div class="form-group">
                <label for="size">Size</label>
                <input id="size" class="form-control form-control-sm" type="text" name="size" ng-model='size'
                    placeholder="12 , small , large ">
            </div>
            <div class="form-group">
                <label for="Unit (kg per peice)">Unit (kg per peice)</label>
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" ng-model='pUnit' placeholder="mm">
                    <input type="text" class="form-control form-control-sm" ng-model='sUnit' placeholder="12 fit">
                </div>
            </div>

            <div class="form-group">
                <small class="text-muted">Product Size is [[size || 0]] [[pUnit || 'mm']] of [[sUnit || '12
                    fit']]</small>
                <br>
                <small class="text-muted">Prize Will be like : Rs.199 for [[size || 0]] [[pUnit || 'mm']] per [[sUnit ||
                    '12 fit']]</small>
            </div>
            <div class="form-group">
                <label for="">Select Product Category</label>
                <select name="productCategory" class="form-control form-control-sm" ng-model='category'
                    ng-change='loadProduct()'>
                    <option value="-1">Select</option>
                    <option ng-repeat='cat in productCategory' value="[[cat._id]]">[[cat.title]]</option>
                </select>
            </div>


            <div class="form-group">
                <label for="">Select Product</label>
                <select name="product" class="form-control form-control-sm" ng-model='product'>
                    <option value="-1">Select</option>
                    <option ng-repeat='p in products' value="[[p._id]]">[[p.title]]</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value=" Save " class="btn btn-sm btn-success col-lg-4">
            </div>

        </form>
    </div>
</div>


<hr>
<br>
<br>
<br>
<br>



{% endblock %}


{% block scripts%}
<script src="/customjs/admin/products.js"></script>
<!-- <link rel="stylesheet" href="/customcss/admin/products.css"> -->

{% endblock %}