table{
    font-size: 14px;
}

.hand{
    cursor: pointer;
}
.modal-content  {
    border: none;
    background: transparent;
    border-radius: 0px !important; 
}

.container-fluid{
    min-height: 400px;
}