<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body class="">
    <div class="mt-4 p-2" ng-app='passwordChangeApp' ng-controller='passwordChangeController'>
        <h1 class="text-center">Buildovo</h1>
        <hr>
        <div class="col-lg-4 col-md-6 col-sm-8 border rounded bg-white mx-auto mt-4 p-4">

            <h5 class="mx-auto">Set New Password</h5>
            <p>Enter your Email and a new password to update your account.</p>

            <hr>
            <form action="javascript:void(0);" class="pl-4 pr-4" ng-submit='onSubmit($event)'>
                <div class="form-group form-control-sm">
                    <label for="email">Email</label>
                    <input id="email" class="form-control form-control-sm" type="email" ng-model='email' readonly required>
                </div>
                <div class="form-group form-control-sm">
                    <label for="password">New Password</label>
                    <input id="password" class="form-control form-control-sm" type="password" ng-model='password' required>
                </div>
                <div class="form-group form-control-sm">
                    <label for="respassword">Confirm New Password</label>
                    <input id="respassword" class="form-control form-control-sm" type="password" ng-model='repassword' required>
                </div>

                <div class="form-group form-control-sm">
                    <input id="btn" class="btn btn-sm btn-success" type="submit" value="Submit" >
                </div>

            </form>
        </div>
    </div>
</body>

</html>

<script src="/js/angular.min.js"></script>
<script>
    var app = angular.module('passwordChangeApp', []);

    app.config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    });


    app.controller('passwordChangeController' , function($scope , $http){
        $scope.email = '{{user.email}}'
        $scope.token = '{{token}}'
        $scope.onSubmit = function($event){
            
            $event.preventDefault();

            if(!$scope.password || $scope.password.trim().length < 8){
                alert('password length must be 8 or more')
                return ;
            }

            if(!$scope.repassword || $scope.repassword.trim().length < 8){
                alert('password length must be 8 or more')
                return 
            }

            if($scope.password != $scope.repassword){
                alert('password not matched')
                return ;
            }

            $http({
                method : 'post', 
                url : '/reset-password',
                data : {
                    email : $scope.email , 
                    password : $scope.password , 
                    token : $scope.token
                }
            }).then(
                function(result){
                   alert("password is updated suucessfully");
                   location.replace(location.origin);
                }, 
                function(error){
                    switch(error.status) {
                        case (406):{
                            alert('Link got expired due to late response');
                            location.replace(location.origin);
                            break;
                        }
                        case (500) :{
                            alert('Internal Error oocurs');
                            location.replace(location.origin);
                            break;
                        }
                    }
                }
            )

        }
    })
</script>