{%extends 'base.html'%}
{%block title%}About Us{%endblock%}
{%block content%}

<!--================About  Area =================-->
<section class="about-area area-padding">
    <div class="container my-4">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="img/about/about1.png" alt="" style="width: 80%;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <h4>About Us</h4>
                    <p>
                        <a href="/"><b style="color: #6247ea;">Buildovo</b></a> is Jabalpur Based Startup, incubated at <strong style="color: #555">Jabalpur Incubation Center</strong>, aimed at solving the problem of solving the problem peoples who dream of having their own Dream House, Buildovo is a platform developed with Vision of providing its customers all what they need at their fingertips.<br><br>
                        The Founders observed that people while constructing their home go through a number of problems, so need of a platform aroused where you can get all what you need. Thus resulted in Buildovo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================About Area End =================-->
<!-- Our Team Area -->
<section class="p-2 bg-light">
    <div class="container">
        <div class="">
            <h2>Our Team</h2>
            <h4>
                At Buildovo, we build products & solutions that redefines the Construction and Development space in India, every single day. The best part? Every bit of your work at Buildovo will help us change the way India Develops.
            </h4><br>
        </div>
        <div class="testi_slider owl-carousel">
            <div class="item">
                <div class="testi_item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/about/testi-2.png" alt="">
                        </div>
                        <div class="media-body">
                            <p>“In order to carry a positive action we must develop here a positive vision.”</p><br>
                            <h4>Rajkumar Soni</h4>
                            <h5>Founder & CTO </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/about/testi-1.png" alt="">
                        </div>
                        <div class="media-body">
                            <p>“In every day, there are 1,440 minutes. That means we have 1,440 daily opportunities to make a positive impact.”</p>
                            <h4>Hrishabh Dubey</h4>
                            <h5>Founder & CEO </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Team Area -->
<!-- Our mission Area -->
<section class="sample-text-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 box_color ">
                <h3 class="text-heading title_color">Our Vision</h3>
                <p class="sample-text">
                    “Fostering an environment that helps in the creation of knowledge and its application to work, we seek to excel in all our business activities and strive to build Buildovo into a creative organization.”
                </p>
            </div>
            <div class="col-lg-5">
                <img style="padding: 30px; width: 90%;" src="./img/about/pic.jpg">
            </div>
            <div class="col-lg-5">
                <img style="padding: 30px; width: 90%;" src="./img/about/pic1.jpg">
            </div>
            <div class="col-lg-7 box_color">
                <h3 class="text-heading title_color">Our Mission</h3>
                <p class="sample-text" style="font-size: 120%;">
                    “Buildovo will be the company of the first choice in the construction industry. We shall be driven by our commitment to customer satisfaction.”
                </p>
                <br>
            </div>
            <div class="col-lg-12  mt-25 box_color">
                <h3 class="text-heading title_color">Our Values</h3>
                <p class="sample-text" style="font-size: 120%;">
                    “We have a passion to move on the upward growth trajectory and position ourselves as the numerouno choice for our customers and ensure that our growth is attained without compromising on the core values and the brand identity which defines – Buildovo.”<br><br>
                    <b>Core Values:</b> Trust and reliability, Nurture people, Adaptive and agile<br>
                    <b>Work Values:</b> Quality, Safety, Innovation<br>
                    <b>Service Values:</b> Relationship with stakeholders, Synergy to enhance group values, Environment and social responsibility
                </p>
            </div>
            <div class="col-lg-12 mt-50 box_color">
                <h3 class="text-heading title_color">Culture at Buildovo</h3>
                <h4 style="color: #333333">
                    We strive to create an open, <br>
                    engaging and employee-friendly workplace.
                </h4>
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <img style="padding: 50px 50px; width: 100%;" src="./img/about/en2.jpg">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h4><i><u>The Environment</u></i></h4>
                        <p class="sample-text">
                            When your goal is to change the way the country eats, you need all the help you can get. Buildovo is an equal-opportunity employer offering competitive salaries, comprehensive health benefits and equity opportunities.
                        </p><br>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h4><i><u>The Spirit</u></i></h4>
                        <p class="sample-text">
                            A comfortable working atmosphere that follows a flat and open culture along with a great office space. We know you work best when you are happy.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img style="padding: 50px 50px; width: 100%;" src="./img/about/en1.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our mission Area -->
{%endblock%}